.boxout {

        margin: 15px;
        margin-right: auto;
        margin-left: auto;
}

.boxout ul li:hover{
    opacity: 0.8;
}
    .first {
        margin: 10px 30px 80px;
        text-align: center;
        padding: 0.01em 100px;
        display: inline-block;
        background-color: #d7d7e7;
        box-sizing: border-box;
        border: solid;
    }

    .second {
        margin: 10px 30px 80px;
        text-align: center;
        padding: 0.01em 100px;
        display: inline-block;
        background-color: #d7d7e7;
        box-sizing: border-box;
        border: solid;
    }

    .third {
        margin: 10px 30px 80px;;
        text-align: center;
        padding: 0.01em 100px;
        display: inline-block;
        background-color: #d7d7e7;
        box-sizing: border-box;
        border: solid;
    }

    @media screen and (max-width: 510px) {
  
        .first,
        .second,
        .third {
            width: 90%;
            
        }
    }